* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: sans-serif
}
.Menu {
    width: 24%;
    height: 100vh;
    background-color: #f44336;
    position: fixed;
}

.ul {
    display: flex;
    flex-direction: column;
    
    margin-left: 50px;
    list-style-type: none;   
}
.list-items-menu {
    text-decoration: none;
    font-size: 2.5rem;
    
}
.list-items-menu {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bolder;
    line-height: 1.5;
    line-height: 60px;
    height: 900px; 
}

header h1 {
    font-size: 3.5rem;
    color: white;
    font-weight: bolder;
    line-height: 1.5;
    margin-top: 130px;
    padding-left: 1.5em;
    padding-bottom: 90px;
    
}
.list-items-menu:hover {
    background-color: #ffffff;
   padding:  10px 100px 10px 10px;
    
}
.list-items-menu:hover {
    color: black;
}

.sec1 {
    padding-top: 130px;
    margin-left: 25%;
    width: 1200px;
    height: auto;
    
}
.sec1 h1 {
    font-size: 9rem;
    margin-left: 50px;
}
.sec1 h2 {
    padding-top: 20px;
    font-size: 7rem;
    margin-left: 50px;
    color: #f44336 ;
}
.sec1 hr {
    margin-top: 30px;
    margin-left: 50px;
    width: 80px;
    height: 12px;
    border: 7px solid red;
    border-radius: 6px;
    
}
.img1sec {
    width: 100%;
}
.img1sec {
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    
}
.divimg {
    opacity: 0.75;
    width: 48%;
    padding: 10px;
}
.divimg:hover {
    opacity: 100;
    cursor: pointer;
}
.sec2 {
    padding-top: 100px;
    margin-left: 25%;
    width: 1200px;
    height: auto;
}

.sec2 h2 {
    
    padding-top: 0px;
    font-size: 7rem;
    margin-left: 50px;
    color: #f44336 ;
}
.sec2 hr {
    margin-top: 30px;
    margin-left: 50px;
    width: 80px;
    height: 12px;
    border: 7px solid red;
    border-radius: 6px;
    
}
.sec2 p {
    margin-top: 40px;
    margin-left: 50px;
    font-size: 2.4rem;
}
.sec3 {
    padding-top: 100px;
    margin-left: 25%;
    width: 1200px;
    height: auto;
}

.sec3 h2 {
    padding-top: 0px;
    font-size: 7rem;
    margin-left: 50px;
    color: #f44336 ;
}
.sec3 hr {
    margin-top: 30px;
    margin-left: 50px;
    width: 80px;
    height: 12px;
    border: 7px solid red;
    border-radius: 6px;
    
}
.sec3 p {
    margin-top: 40px;
    margin-left: 50px;
    font-size: 2.4rem;
    
}
.pbold {
    font-weight: 550;
}
.imgdiv-main {
    margin-top: 20px;
    display: flex;
    margin-left: 45px;
    
}
.imgdiv {
    margin: 10px;
    width: 360px;
    height: 510px;
    background-color: rgb(236, 236, 236);
    

}
.designersimg {
    width: 100%;
    opacity: 0.75;
    
    
}
.imgdiv-main h1 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 3.5rem;
    font-weight: 500;
    
}
.imgdiv-main h3 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 500;
    opacity: 0.75 ;
}
.imgdiv-main h4 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 1.5;
}
.sec4 {
    padding-top: 120px;
    margin-left: 25%;
    width: 1200px;
    height: auto;
}
.sec4 h1 {
    
    padding-top: 0px;
    font-size: 7rem;
    margin-left: 50px;
    color: #f44336 ;
}
.sec4 hr {
    margin-top: 30px;
    margin-left: 50px;
    width: 80px;
    height: 12px;
    border: 7px solid #f44336;
    border-radius: 6px;
    
}
.sec4 p {
    margin-top: 40px;
    margin-left: 50px;
    font-size: 2.4rem;
}
.packageslist {
    display: flex;
    justify-content: center;
    margin-top: 50px;  
    margin-left: 50px;      
}
li {
    list-style-type: none;
    width: 100%;
}
.ullist {
    width: 50%;
    margin-right: 20px;
}
.listcontent {
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  padding: 1.6rem 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
  
}
#Basic {
    background-color: #616161;
    line-height: 1.5;
    font-size: 3.5rem;
    text-align: center;
    padding: 45px 0;
    color: white;
  }
  #Pro {
    background-color: #f44336;
    line-height: 1.5;
    font-size: 3.5rem;
    text-align: center;
    padding: 45px 0;
    color: white;
  }
